<div class="container">

    <h2>Students</h2>

    <div *ngIf="students.length > 0; else noStudents">
        <ul>
            <li *ngFor="let student of students">

            <span>
                {{student.studentId}} -
                {{student.name}}
            </span>

            <div class="action-buttons">
                <button class="edit-btn" [routerLink]="['/students/edit', student.id]">

                    <i class="fa-solid fa-pen-to-square"></i>

                </button>

                <button class="delete-btn" (click)="delete(student.id)">

                    <i class="fa-solid fa-trash"></i>

                </button>
            </div>
        </li>
    </ul>

</div>

<ng-template #noStudents>
  <p class="empty-message">
    No students available.
  </p>
</ng-template>